div#selectChoice {
    width: 50%;
    margin-left: 30%;
    margin-top: 15%;
}

#selectChoice h2 {
    text-align: center
}

.choice {
    width: 49%;
    margin-left: 1%;
    float: right;
    margin-bottom: 1rem;
}